<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
	</head>
	<body>
		<h1>We will be rigth back</h1>
		<p>THE SITE IS BEING UPDATED.</p>
		{{> footer}}
	</body>
</html>